.footer-info-color {
    color: var(--transp-white);
}

.footer-fon {
    margin-top: 60px;
    padding: 60px 0;
    background-color: var(--bg-color-fon);
}

.button-adress {
    color: var(--button-color);
}

.footer-wrapper {
    display: block;
    align-items: baseline;
}

.web-studio-logo-botton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
}

.footer-adress {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    // margin-right: 70px;
}

.social-title {
    text-align: center;
    text-transform: uppercase;
    color: var(--bgcolor);
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}


.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-round {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color: var(--social-round-color);


    & path {
        fill: #AFB1B8;
    }

    &:hover,
    &:hover path {
        background-color: var(--maincolor);
        fill: white;
    }


    .td-effects:hover & {
        transition-duration: 250ms;
    }
}


.footer-social-icon {
    width: 20px;
    height: 20px;
    fill: var(--bgcolor);
}

address {
    text-align: center;
    text-align: center;
    margin-top: 20px;
    font-style: normal;
}


.footer-input {
    margin-left: auto;
    margin-right: auto;
}


.addr {
    padding-left: 0;
}

.footer-item:not(:last-child) {
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-input-block {
    background-color: var(--bg-color-fon);
    border-color: var(--bgcolor);
    width: 430px;
    height: 50px;
    color: var(--footer-input-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    color: var(--bgcolor);
    background: var(--maincolor);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    &:focus,
    &:hover {
        background-color: var(--secondarycolor);
        color: var(--bgcolor);
    }

    &::after {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background: url("../images/icons/icon\ send.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.footer-flex {
    display: block;
}


@media screen and (min-width: 786px) {
    .container {
        .footer-info-color {
            color: var(--transp-white);
        }

        .footer-fon {
            margin-top: 60px;
            padding: 60px 0;
            background-color: var(--bg-color-fon);
        }

        .button-adress {
            color: var(--button-color);
        }

        .footer-wrapper {
            display: block;
            align-items: baseline;
        }

        .web-studio-logo-botton {
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.03em;
        }

        .footer-adress {
            display: inline-block;
            margin-left: 76px;
            margin-right: 165px;
            align-items: center;
            // margin-right: 70px;
        }

        .footer-social-wrapper {
            top: 85px;
            display: inline-block;
            text-align: center;
            // vertical-align: center;

        }


        .social-title {
            text-align: center;
            text-transform: uppercase;
            color: var(--bgcolor);
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
        }


        .footer-social {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .footer-social-round {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 44px;
            height: 44px;
            margin-right: 10px;
            background-color: var(--social-round-color);


            & path {
                fill: #AFB1B8;
            }

            &:hover,
            &:hover path {
                background-color: var(--maincolor);
                fill: white;
            }


            .td-effects:hover & {
                transition-duration: 250ms;
            }
        }


        .footer-social-icon {
            width: 20px;
            height: 20px;
            fill: var(--bgcolor);
        }

        address {
            text-align: center;
            text-align: center;
            margin-top: 20px;
            font-style: normal;
        }


        .footer-input {
            display: block;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }


        .addr {
            padding-left: 0;
        }

        .footer-item:not(:last-child) {
            margin-top: 9px;
            margin-bottom: 9px;
        }

        .footer-input-block {
            background-color: var(--bg-color-fon);
            border-color: var(--bgcolor);
            width: 430px;
            height: 50px;
            color: var(--footer-input-color);
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 16px;
        }

        .footer-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            color: var(--bgcolor);
            background: var(--maincolor);
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            margin-top: 20px;
            margin-left: 263px;
            margin-right: 263px;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.06em;

            &:focus,
            &:hover {
                background-color: var(--secondarycolor);
                color: var(--bgcolor);
            }

            &::after {
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-left: 10px;
                background: url("../images/icons/icon\ send.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .footer-flex {
            display: block;
        }
    }
}


@media screen and (min-width: 1200px) {
    .container {
        .footer-info-color {
            color: var(--transp-white);
        }

        .footer-fon {
            padding: 60px 0;
            background-color: var(--bg-color-fon);
        }

        .button-adress {
            color: var(--button-color);
        }

        .footer-wrapper {
            display: flex;
            align-items: baseline;
        }

        .footer-adress {
            margin-right: 70px;
        }

        .social-title {
            text-transform: uppercase;
            color: var(--bgcolor);
            font-weight: 700;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
        }


        .footer-social {
            display: flex;

        }

        .footer-social-round {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 44px;
            height: 44px;
            margin-right: 10px;
            background-color: var(--social-round-color);


            & path {
                fill: #AFB1B8;
            }

            &:hover,
            &:hover path {
                background-color: var(--maincolor);
                fill: white;
            }


            .td-effects:hover & {
                transition-duration: 250ms;
            }
        }


        .footer-social-icon {
            width: 20px;
            height: 20px;
            fill: var(--bgcolor);
        }

        address {
            margin-top: 20px;
            font-style: normal;
        }


        .footer-input {
            margin-left: 93px;
        }


        .addr {
            padding-left: 0;
        }

        .footer-item:not(:last-child) {
            margin-top: 9px;
            margin-bottom: 9px;
        }

        .footer-input-block {
            background-color: var(--bg-color-fon);
            border-color: var(--bgcolor);
            width: 358px;
            height: 50px;
            color: var(--footer-input-color);
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            padding-left: 16px;
        }

        .footer-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            color: var(--bgcolor);
            background: var(--maincolor);
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            margin-top: 48px;
            margin-left: 10px;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.06em;

            &:focus,
            &:hover {
                background-color: var(--secondarycolor);
                color: var(--bgcolor);
            }

            &::after {
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-left: 10px;
                background: url("../images/icons/icon\ send.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .footer-flex {
            display: flex;
            align-items: center
        }
    }
}

// .footer-info-color {
//     color: var(--transp-white);
// }

// .footer-fon {
//     padding: 60px 0;
//     background-color:var(--bg-color-fon);
// }

// .button-adress {
//     color:var(--button-color);
// }

// .footer-wrapper {
//     display: flex;
//     align-items: baseline;
// }

// .footer-adress{
//     margin-right: 70px;
// }

// .social-title {
//     text-transform: uppercase;
//     color: var(--bgcolor);
//     font-weight: 700;
//     margin-bottom: 20px;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.03em;
// }


// .footer-social {
//     display: flex;

// }

// .footer-social-round {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 100%;
//     width: 44px;
//     height: 44px;
//     margin-right: 10px;
//     background-color:var(--social-round-color);


//     & path {
//         fill:#AFB1B8;
//     }

//     &:hover, 
//     &:hover path {
//         background-color:var(--maincolor);
//         fill: white; 
//     }    


//     .td-effects:hover & {
//         transition-duration: 250ms;
//     }
// }


// .footer-social-icon {
//     width: 20px;
//     height: 20px;
//     fill: var(--bgcolor);
// }

// address {
//     margin-top: 20px;
//     font-style: normal;
// }


// .footer-input {
//     margin-left: 93px;
// }


// .addr {
//     padding-left: 0;
// }

// .footer-item:not(:last-child) {
//     margin-top: 9px;
//     margin-bottom: 9px;
//     } 

//     .footer-input-block {
//     background-color: var(--bg-color-fon);
//     border-color: var(--bgcolor);
//     width: 358px;
//     height: 50px;
//     color: var(--footer-input-color);
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     padding-left: 16px;
// }

// .footer-button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 200px;
//     height: 50px;
//     color: var(--bgcolor);
//     background: var(--maincolor);
//     border: none;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     margin-top: 48px;
//     margin-left: 10px;
//     font-family: 'Roboto';
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 30px;
//     letter-spacing: 0.06em;

//     &:focus, &:hover  {
//         background-color: var(--secondarycolor);
//         color: var(--bgcolor);
//     }

//     &::after {
//         content: "";
//         display: inline-block;
//         width: 24px;
//         height: 24px;
//         margin-left: 10px;
//         background: url("../images/icons/icon\ send.svg");
//         background-repeat: no-repeat;
//         background-position: center;
//     }
// }

// .footer-flex {
//     display: flex;
// }