.web-studio-logo {
    /* margin-right: 93px; */
    font-family: Raleway;
    color: var(--textcolor);
    font-size: 26px;
    font-weight: 700;

    &:hover,
    &:focus {
        color: var(--textcolor);
    }
}

.page-logo-header {
    margin-right: 93px; 
}


