.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
        // background-color: orange;
    }
}

@media screen and (min-width: 786px) {
    .container {
        width: 786px;
        // background-color: orange;
    }

}


@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        // background-color: orange;
    }
}