:root {
    --textcolor: #212121;
    --secondarycolor: #757575;
    --button-color: #F5F4FA;
    --maincolor: #2196F3;
    --bgcolor: #ffffff;
    --transp-white: #ffffffae;
    --box-border-color:#EEEEEE;
    --border-color: #ECECEC;
    --bg-color-fon: #2F303A;
    --box-shadow-card: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --social-round-color: rgba(255, 255, 255, 0.1);
    --social-icon-color: #AFB1B8;
    --footer-input-color: rgba(255, 255, 255, 0.6);
  }   